.p1{
    background-color: aqua;
    margin: 40px 40px 60px 80px
}

.p2{
background-color: black;
font-size: large;
color: white;
}
.p3{
    background-color: blue;
    font-size: medium;
    color: aqua;
}